@page "/dashboard"

<div class="" style="height:100vh !important">

    <div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed" style="background-image: url(assets/media/illustrations/sketchy-1/14.png">

        <div class="" style="height:100vh !important;">

            @*<a href="../../demo1/dist/index.html" class="">
                    <img alt="Logo" src="4.png" class="h-70px w-150px">
                </a>*@

        </div>
    </div>
</div>

@code {

}
