@inherits LayoutComponentBase

<div class="main" style="height:100vh">
    <div class="d-flex flex-column flex-root" style="height:100vh !important;">
        <!--begin::Authentication - Sign-in -->
        <div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed" style="background-image: url(assets/media/illustrations/sketchy-1/14.png">
            <!--begin::Content-->
            <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
                <!--begin::Logo-->


                @Body
            </div>
            
        </div>
    </div>
</div>
